.list-container{
    max-width: 360px;
    margin: 0 auto;
}
.list-item{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 12px;
    border-radius: 6px;
}

.list-item > span.line{
    text-decoration: line-through; 

}